@import "tailwindcss";

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

@theme {

  /* Surface -- for main app, overlays, and other surfaces */
  --color-surface-bg-body : var(--color-white); 
  --color-surface-bg-base : var(--color-gray-50);  /* for cards and other content */
  --color-surface-bg-overlay : var(--color-sky-50); 
  --color-surface-bg-overlay-hover : var(--color-sky-200);
  --color-surface-border-base: var(--color-slate-300);
  --color-surface-border-overlay: var(--color-slate-300);
  --color-surface-border-focus: var(--color-slate-400);
  
  /* Example if I want alpha versions */
  /* --color-surface-border-focus-alpha: color-mix(in srgb, var(--color-gray-400) 50%, transparent); */
  
  /* Neutral -- for text, etc */
  --color-neutral-fg: var(--color-slate-900);
  --color-neutral-highlight: var(--color-yellow-100);
  --color-neutral-fg-accent1: var(--color-indigo-300);
  --color-neutral-fg-accent2: var(--color-cyan-300);
  --color-neutral-fg-accent3: var(--color-orange-300);

  /* Primary — for controls */
  --color-primary-bg: var(--color-blue-100);
  --color-primary-bg-hover: var(--color-blue-200);
  --color-primary-bg-active: var(--color-blue-300);

  --color-primary-fg: var(--color-blue-800);
  --color-primary-fg-hover: var(--color-blue-600);
  --color-primary-fg-active: var(--color-blue-800);
  --color-primary-fg-inactive: var(--color-blue-600);
  
}


